<ion-header [translucent]="true">
  <ion-toolbar color="primary">  <ion-buttons slot="start">
    <ion-back-button defaultHref="inicio"></ion-back-button>
  </ion-buttons>
    <ion-title>
    Centros de apoyo para la mujer
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  
<body>
  <div  *ngFor="let centro of centros">
    <label>{{centro.titulo}}</label>
    <ion-input class="txt-input" [(ngModel)]="lati" type="txt" name="password" placeholder={{centro.lat}}></ion-input>
    
    <ion-input class="txt-input" [(ngModel)]="long" type="txt" name="password" placeholder={{centro.lng}}></ion-input>

    <ion-button (click)="creamarcador()"> Mostrar en el mapa</ion-button>
   </div>
  <div id="mapa-mapbox"></div></body>
</ion-content>
