<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-menu
  contentId="main"
  menuId="menu"
  side="start"
  type="overlay"
  swipeGesture="true"
>
  <ion-header>
    <ion-toolbar color="tbar">
      <ion-title color="light">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let c of components" [routerLink]="c.redirectTo" detail>
        <ion-icon slot="start" [name]="c.icon"></ion-icon>
        <ion-label> {{ c.name }}</ion-label>
      </ion-item>
    
    </ion-list>
    <ion-list><ion-item (click)="Onlogout()" >
      <ion-icon color="danger" slot="start" name="log-out-outline"></ion-icon>
      <ion-label color="danger">Salir</ion-label>
    </ion-item></ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="tbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Infocancer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="../assets/HEADER2.png" />
    </ion-slide>
    <ion-slide>slide 2</ion-slide>
    <ion-slide>slide 3</ion-slide>
  </ion-slides>
  <ion-slides mode="md" pager="md">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Title</ion-card-title>
          <ion-card-subtitle>Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
            reiciendis aliquam magnam tempora a.
          </p>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Title</ion-card-title>
          <ion-card-subtitle>Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
            reiciendis aliquam magnam tempora a.
          </p>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
