.fondo{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #FFFFFF;
}

.contenedor{
    position: absolute;
    left: 40px;
    right: 40px;
    top: 0px;
    bottom: 30px;
    background-image: url(/resources/logo_fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titulo{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #f764b1;
}


.txt-input{
    color: black;
}

.check-box{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;
    height: 25px;
}

.check-box ion-checkbox{
    float: left;
}

.check-box p{
    margin: 5px;
    float: left;
}

.check-box p:last-child{
    margin-left: 30px;
}

.btn-login{
    width: 180px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    top: 250px;
}

.btn-login ion-button{
    width: 180px;
    height: 38px;
    box-shadow: 4px 4px 10px rgba(22, 105, 211, 0.7);
}

.btn-login p{
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.txt-pie{
    margin-top: -20px;
    color: black;
    text-align: center;
}

.redes-sociales{
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 190px;
    height: 30px;
}

.icono-2{
    margin-top: 12%;
    width: 50px;
    height: 18px;
}

#facebook{
    float: left;
    width: 50px;
    height: 30px;
    left: 80px;
    top: 451px;
    color: white;
    background: #1254AB;
    border-radius: 25px;
}

#twitter{
    margin-left: 20px;
    float: left;
    width: 50px;
    height: 30px;
    left: 155px;
    top: 451px;
    color: white;
    background: #0BAAFC;
    border-radius: 25px;
}

#google{
    margin-left: 20px;
    float: left;
    width: 50px;
    height: 30px;
    left: 229px;
    top: 451px;
    color: white;
    background: #F65A5B;
    border-radius: 25px;
}



@media (max-width: 650px){

    .check-box p:last-child{
        margin-left: 10px;
    }

}

@media (max-width: 320px){

    .check-box p:last-child{
        margin-left: 0px;
    }

    .fondo{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: -40px;
        background-color: #FFFFFF;
    }



}