<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="fondo">
  <div class="contenedor">
    <H3 class="titulo">Login para Administradores</H3>
    <div id="container">
      <strong>No eres un Administrador?</strong>
      <p>visita nuestro portal publico para estar mas informado :D <a target="_blank" rel="noopener noreferrer" href="https://info-cancer.web.app">Comunidad de Infocancer.</a></p>
    </div><br>
    <ion-item color="light">
      <ion-input class="txt-input" type="text" [(ngModel)]="email" name="email" placeholder="Correo Electronico"></ion-input>
      <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-item color="light">
      <ion-input class="txt-input" [(ngModel)]="password" type="password" name="password" placeholder="Password"></ion-input>
      <ion-icon class="icono-1" slot="end" name="lock-closed"></ion-icon>
    </ion-item>
    <br>
    <div class="check-box">        
      <ion-checkbox  slot="start" color="primary" style="width: 15px; height: 15px; margin-top: 5px;"></ion-checkbox>
      <p>Recuerda me</p>
      <p>Olvidaste tu contraseña?</p>
    </div>
    <br>
    <div class="btn-login">
      <ion-button (click)="onSubmitLogin()">LOGIN</ion-button>
    </div>
    <br>
    <br>
    <!-- <p class="txt-pie">O inicia con</p> -->
    <br>
   <!-- <div class="redes-sociales">
      <div id="facebook"><ion-icon slot="start" name="logo-facebook" class="icono-2"></ion-icon></div>
      <div id="twitter"><ion-icon slot="start" name="logo-twitter" class="icono-2"></ion-icon></div>
      <div id="google"><ion-icon slot="start" name="logo-google" class="icono-2"></ion-icon></div>
    </div>  -->
  </div>
</div>
</ion-content>