<ion-header [translucent]="true">
  <ion-toolbar color="primary">  <ion-buttons slot="start">
    <ion-back-button defaultHref="inicio"></ion-back-button>
  </ion-buttons>
    <ion-title>
    Crear Articulos 
    </ion-title>
   
  </ion-toolbar>
</ion-header>
<body>

<div id='agregar-marca' >
  
  <br>
  <br>
  <br>
  <p >         Agregar nuevo Articulo</p>
  <ion-item>
    <ion-input class="txt-input" type="text"  name="titulo" placeholder="Titulo"></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input class="txt-input" type="text"  name="tipo" placeholder="tags"></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  
  <ion-item color="light">
    <ion-input class="txt-input"  type="txt" name="comentario" placeholder="Agregar Articulo "></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <ion-item color="light">
    <ion-input class="txt-input"  type="txt" name="horario" placeholder="Autor "></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <div class="btn-login">
    <ion-button >Crear Articulo</ion-button>
  </div>
  
</div>


</body>