<ion-header [translucent]="true">
  <ion-toolbar color="primary">  <ion-buttons slot="start">
    <ion-back-button defaultHref="inicio"></ion-back-button>
  </ion-buttons>
    <ion-title>
    Crear Centros de apoyo para la mujer
    </ion-title>
   
  </ion-toolbar>
</ion-header>
<body>

<div id='agregar-marca' >
  
  <br>
  <br>
  <br>
  <p >         agregar nuevo centro de apoyo</p>
  <ion-item>
    <ion-input class="txt-input" type="text"  name="titulo" placeholder="Nombre"></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-input class="txt-input" type="text"  name="tipo" placeholder="Tipo de centro"></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  
  <ion-item color="light">
    <ion-input class="txt-input"  type="txt" name="comentario" placeholder="Agregar Comentario "></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <ion-item color="light">
    <ion-input class="txt-input"  type="txt" name="horario" placeholder="horario "></ion-input>
    <ion-icon class="icono-1" slot="end" name="person-outline"></ion-icon>
  </ion-item>
  <div class="btn-login">
    <ion-button >Crear CEntro</ion-button>
  </div>
  
</div>
<br>
<p>selecciona la ubicacion en el mapa</p>
<div id="mapa-mapbox"></div>
   

</body>