#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#mapa-mapbox{
  width: 100%;
  height: 50%;
  background-color: white;

}
#agregar-marca{
  width: 100%;
  height: 50%;
  background-color: white;}
  btn-login{
    width: 180px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    top: 250px;
}

.btn-login ion-button{
    width: 180px;
    height: 38px;
    box-shadow: 4px 4px 10px rgba(22, 105, 211, 0.7);
}

.btn-login p{
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}