<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Articulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
      <ion-card-subtitle>Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
        reiciendis aliquam magnam tempora a.
      </p>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-card-content>
  </ion-card>
  <body><div id='compartir'>
      <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6"></script>

<!-- Your embedded comments code -->
<div class="fb-comment-embed"
   data-href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185"
   data-width="500"></div>

  </div>
    <p>comentarios</p>
    <div id='comentarios'>
      <div class="fb-comments" data-href="http://facebook.com/infocancerut" data-numposts="5" data-width=""></div>
  </div> 
  </body>

</ion-content>
